.wrapper{
  display: flex;
  width: 100%;
  position: relative;
}
.sliderWrapp{

  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 20px;
  align-items:center;
}
.thumbnails{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.thumbnails img{
  width: 100%;
}
.spare1{
  position: absolute;
  top: 0;
  left:0;
  z-index: 3;
}
@media (max-width:1024px) {
  .sliderWrapp{

  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr auto;
  column-gap: 20px;
  align-items:center;
  row-gap: 20px;
}

.thumbnails img{
  width: 100%;

}
}
.spare2{
  position: absolute;
  bottom: 0;
  right:0;
  z-index: 3;
}


.container{
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap:40px;
}


.content{
  max-width: 998px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:66px
}


.title{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: var(--gray-title);
  text-align: center;
}

.text{
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 125%;
  color: var(--gray-secondary);
}

.item{
  max-height: 410px;
  width: 100%;
  border-radius:8px;
}



@media screen and (max-width: 1376px){
  .spare1{
    top:-20px;
    right:0;
    left: auto;
    width: 100px;
    height: 150px;
    transform: rotateY(180deg);
  }
  .spare2{
    left:0;
    right: auto;
    width: 100px;
    height: 150px;
    transform: rotateY(180deg);
    bottom: -10%;
  }
}

@media screen  and (max-width: 768px){
  .content{
    gap: 30px;
  }
  .title{
    text-align: left;
  }


}