.wrapper{
  display: flex;
  width: 100%;
  position: relative;
  padding-bottom: 50px;
}
.sliderWrapp{
  display: grid;
  grid-template-columns: 680px 446px;
  grid-template-rows: 409px;
  column-gap: 20px;
  align-items:center;
  margin: 0 auto;
}
.itemWrapper{
  height: 100%;
}
.itemWrapper > img{
  object-fit: cover;
  height: 100%;
}
.thumbnails{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: calc(50% - 5px) calc(50% - 5px);
  column-gap: 20px;
  row-gap: 11px;
  height: 100%;
  max-width: 100%;
}
.thumbnailWrapper {
  height: 100%;
}
.thumbnailWrapper > * {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.spare1{
  position: absolute;
  top: 0;
  left:0;
  z-index: 3;
}
@media (max-width:1220px) {
  .sliderWrapp{
    grid-template-columns: 600px 446px;
  }
}

.spare2{
  position: absolute;
  bottom: 0;
  right:0;
  z-index: 3;
}


.container{
  max-width: 1150px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap:40px;
}


.content{
  max-width: 998px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:66px
}


.title{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: var(--gray-title);
  text-align: center;
}

.text{
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 125%;
  color: var(--gray-secondary);
}

.item{
  max-height: 410px;
  width: 100%;
  border-radius:8px;
}
@media screen and (max-width: 1153px){
  .sliderWrapp{
    grid-template-rows: 380px;
  }
}
@media screen and (max-width: 1110px){
  .sliderWrapp{
    grid-template-columns: 580px 446px;
  }
}
@media screen and (max-width: 1082px){
  .sliderWrapp{
    grid-template-columns: 550px 446px;
  }
}
@media (max-width:1050px) {
  .sliderWrapp {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    column-gap: 20px;
    align-items: center;
    row-gap: 20px;
  }
  .thumbnails img{
    width: 100%;
  }
}

@media screen and (max-width: 1376px){
  .spare1{
    top:-20px;
    right:0;
    left: auto;
    width: 100px;
    height: 150px;
    transform: rotateY(180deg);
  }
  .spare2{
    left:0;
    right: auto;
    width: 100px;
    height: 150px;
    transform: rotateY(180deg);
    bottom: -10%;
  }
}

@media screen and (max-width: 500px){
  .spare2{
    left: -18px;
    bottom: -85px;
  }
  .spare1{
    z-index: -1;
    top:-60px;
  }
  .title{
    font-size: 25px;
  }
}
@media screen  and (max-width: 768px){
  .content{
    gap: 30px;
  }
  .title{
    text-align: left;
  }


}