.card{
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 11px 11px;
  margin-bottom: 19px;
}

.img{
  flex:1;
  // object-fit: cover;
    border-radius:5px;

}

@media (min-width:1439px) {
  .sua{
    width: 50%;
    position: relative;
  }
  .img{
        height: 100%;
    max-width: 100%;
  }
  

}
@media (max-width:1440px) {
  .card{
    flex-direction: column;
  }
  .img{
    width: 100%;
    object-fit: cover;
  }
}
.content{
  flex: 1;
  padding: 17px 29px 0;
  background: rgba(119, 119, 119, 0.01);
  //opacity: 0.7;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
  backdrop-filter: blur(150px);
  /* Note: backdrop-filter has minimal browser support */
display: flex;
  flex-direction: column;
  border-radius:  11px ;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 23px;
}

.title{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 129.7%;
  color: var(--white);

}

.subtitle{
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 125%;
  color: var(--white);
  margin-bottom: 30px;
}

.prices{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #7B7B7B;
  margin-bottom: 10px;
}

.text{
  font-style: normal;
  font-size: 16px;
  line-height: 113.7%;
  color: var(--white);
  margin-bottom: 10px;
}
.textBold{
  font-weight: 900;
  font-style: normal;
  font-size: 16px;
  line-height: 113.7%;
  color: var(--white);
  margin-bottom: 10px;

}

.tumbnails{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
@media (min-width:1439px) {
  .tumbnails{
    padding: 10px;
    position: absolute;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: 539px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #0E0E0E;
box-shadow: -1px 4px 21px rgba(0, 0, 0, 0.1);
border-radius: 11px;
margin-bottom: 10px;
}
.tumbEl{
  margin-bottom: 0 !important;
}
.tumbEl:last-child{
  margin-right: 0 !important;
}
}
.tumbEl{
  
  max-width: 30%;
  margin-right: 13px;
  margin-bottom: 13px;
  border-radius: 11px;
// max-height: 57px;
}
.tumbEl img{
  max-width: 100%;
border-radius: 11px;
}
.small{
  display: flex;
  flex-direction: column;
  max-width: 330px;
  width: 100%;
}
@media (max-width:1440px) {
  .small{
    margin-bottom: 25px;
  }
}
.row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.texts{
  flex:2;
}
.mb0{
  margin-bottom: 0;
}
.button{
  color: var(--white);
  flex:1;
  height: 100%;
  min-height: 44px;
  max-height: 44px;
}


@media screen and (max-width: 768px){
  .card{
    flex-direction: column;
  }
  .tumbnails{
  flex-wrap: wrap;
  justify-content: center;  }
//   .tumbEl{
//   // max-width: 40%;
//   margin-right: 13px;
//   border-radius: 11px;
//   width: 93px;
// height: 57px;
// }
// .tumbEl img{
//   max-width: 100%;
// border-radius: 11px;
// }

  .small{
    max-width: 100%;
  }

}