.container{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}
.overflow{
  overflow: hidden;
}
.wrapper{
  padding: 0 15px;
}
.wave{
  padding-top: 70px;
  margin-top: 70px;
  background-image: url("../../assets/images/waveBgBlack.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1100px){
  .wave{
    background-size: contain;
  }
}
@media screen and (max-width: 900px){
  .wave{
    padding-top: 40px;
  }
}