.wrapper{
  padding: 100px 0 ;
  position: relative;
  width: 100%;
  //background: white;
}



.container{
  z-index: 10;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
  max-width: 1130px;
  padding: 0 15px;
}

.title{
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: var(--gray-title);
  position: relative;
}

.cardContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 100px;
  column-gap: 20px;
  flex-wrap: wrap;
}



@media screen and (max-width: 1120px){
  .cardContainer{
    justify-content: center;
    row-gap: 40px;
  }

}
@media screen and (max-width: 807px){
  .wrapper{
    padding: 170px 0 190px;
  }
}

@media screen and (max-width: 768px){
  .cardContainer{
    column-gap: 0;
  }
}


@media screen and (max-width: 730px){
  .cardContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
  }
}

@media screen and (max-width: 528px){
  .title{
    font-size: 32px;
    line-height: 125%;
  }
  .wrapper{
    padding: 200px 0 190px;
  }
}
