.wrapper{
  padding: 100px 0 ;
  position: relative;
  width: 100%;
  //background: white;
}
.carAndTrees{
  position: absolute;
  top: 0;
  right: 0;
  //margin-right: -150px;
  height: 300px;
  z-index: 2;

}
.trees{
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  height: 300px;
}

.container{
  z-index: 10;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
  max-width: 1130px;
  padding: 0 15px;
}

.title{
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: var(--gray-title);
}

.cardContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 100px;
  column-gap: 20px;
  flex-wrap: wrap;
}



@media screen and (max-width: 1700px){
  .trees{
    bottom: 0;
    top:initial;
    height: 200px;
    transform: translateY(40%);
    margin-left: -40px;
  }
}

@media screen and (max-width: 768px){
  .cardContainer{
    column-gap: 0;
  }

  .carAndTrees{
    transform:translateY(-20%);
  }

}


@media screen and (max-width: 730px){
  .cardContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
  }
}
