.wrapper{
  padding: 50px 0 0px;
  max-width: 556px;
  margin: 0 auto;
}

.title{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-align: center;
  color: var(--white);
}
.text{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  color: var(--white);

}