.wrapper{
  padding: 160px 15px 0px;
  margin: 0 auto;
}

.title{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-align: center;
  color: var(--white);
  margin-bottom: 24px;
}
.text{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  color: var(--white);
  margin: 0;
}

@media screen and (max-width: 550px){
  .title{
    font-size: 32px;
  }
  .text{

  }
}