.card{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:20px;
  max-width: 430px;
  width: 100%;
  margin-bottom: 85px;
}

.reversed{
  flex-direction: row-reverse;
  .content{
    align-items: flex-start;
  }
}
.reversedText{
  align-items: flex-start;
}
.content{
  display: flex;
  flex-direction: column;
  gap:9px;
  align-items: flex-end;
}
.wrapper{
  position: relative;
}
.absolute{
  position: absolute;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  color: #191919;
  top: -36px;
  z-index: -1;
  &Right{
    left: -31px;
  }
  &Left{
    right: -31px;
  }
}

.title{
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 129.7%;
  color: var(--white);

}


.text{
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 125%;

  color: var(--white);

}

.textLeft{
  text-align: right;
}
.titleRight{
  text-align: left;
}
.titleRight, .titleLeft{
  position: relative;
}
.titleRight::before, .titleLeft::before{

}
.titleLeft{
  text-align: right;
}
.titleRight{
  text-align: left;
}


.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}



.first{
  max-width: 1048px;

}
.second{
  max-width: 1116px;
}
.third{
  max-width: 816px;
}
@media screen and (max-width: 1270px){
  .content{
    max-width: 240px;
  }
}

@media screen and (max-width: 1097px){
  .card{
    margin-bottom: 70px;
    max-width: 375px;
    gap: 5px;
  }
}
@media screen and (max-width: 990px){
  .absolute{
    left: -28px;
    top: -33px;
  }
  .title{
    text-align: left;
  }
  .text{
    text-align: left;
  }
    .content{
      min-width: 67%;
      align-items: flex-start;
      gap: 0;
    }
    .card{
      flex-direction: row-reverse;
      margin: 0;
      gap: 20px;
    }
  .img{
    max-width: 33%;
  }
}

@media screen and (max-width: 576px){
  .title{
    font-size: 20px;
    line-height: 125%;
  }
  .text{
    font-size: 14px;
    line-height: 125%;
  }
}