.form{
    background: #000000;
    border-radius: 11px;
    padding: 53px;
    margin: 0 auto;
    max-width: 932px;
    width: 100%;
}
.calcWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 58px;
    grid-auto-rows: auto;
    width: 100%;
    margin-bottom: 90px;
}

.column{
    display: grid;
    row-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 100px);
}
.label{
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 6px;
}
.input{
    padding: 22px 60px 22px 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #121212;
    border-radius: 11px;
    max-height: 70px;
    box-sizing: border-box;
    overflow: hidden;
    border: none;
    outline: none;
    width: 100%;
    border: 1px solid #4B4A4A;
}
.shortInput{
    flex: 0 0 53%;
}
.inputFlex{
    display: flex;
    column-gap: 25px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}


.option{
    height: 46px;
    padding: 50px;
}
.select .react-select__control:hover{
    border: 1px solid #ff0000;
}

.btn{
    max-width: 384px;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
}

.error{
    color: #ff0000;
}

.calculatedGrid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    row-gap: 20px;
    margin-bottom: 41px;
}

.lineFlex{
    display: flex;
    column-gap: 58px;
}

.usualText{
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    color: #FFFFFF;
}
.lastText{
    font-weight: 700;
    font-size: 17px;
    line-height: 140%;
    color: #FFFFFF;
}
.span{
    margin-left: 20px;
}
.text{
    flex-basis: calc(50% - 29px);
    flex-shrink: 0;
}



@media screen and (max-width: 810px) {
    .calcWrapper{
        column-gap: 27px;
    }
    .form{
        padding: 30px;
    }

    .lineFlex{
        column-gap: 27px;
    }

    .text{
        flex-basis: calc(50% - 14px);
    }
}

@media screen and (max-width: 740px) {
    .lineFlex{
        flex-direction: column;
    }
    .flexSpan{
        display: flex;
        flex-direction: column-reverse;
    }
    .span{
        margin-left: 0;
        font-weight: 400;
    }
    .money{
        font-weight: 700;
    }
    .calcWrapper{
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
}

@media screen and (max-width: 550px) {
    .calcWrapper{
        column-gap: 27px;
        row-gap: 27px;
    }
    .form{
        padding: 28px 15px;
    }
    .column{
        grid-template-rows: repeat(3, 100px);
        row-gap: 27px;
    }
}

@media screen and (max-width: 370px) {
    .calcWrapper{
        column-gap: 27px;
        row-gap: 27px;
    }
    .form{
        padding: 28px 15px;
    }
    .column{
        grid-template-rows: repeat(3, auto);
        row-gap: 27px;
    }
    .input{
        padding: 22px 10px 22px 9px;
    }
}