.Main{
  .title{
    font-size: 23px;
    line-height: 125%;
    font-weight: normal;
    .orang{
      font-weight: bold;
      color: #FC8B26;
    }
    .black{
      color: #121212;
      font-weight: bold;
    }
  }
  .titleTho{
    font-size: 16px;
    line-height: 129.7%;
    color: #4B4A4A;
  }
  .fonBlock{
    background-image: url("../../../public/images/Main/Car.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    height: 342px;
    .Money{
      margin-top: 20px;
      margin-bottom: 26px;
      background: #FFFFFF;
      box-shadow: -1px 4px 21px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      padding-bottom: 8px;
      padding-top: 10px;
      padding-left: 6px;
      padding-right: 6px;
      .text{
        font-size: 13px;
        line-height: 130%;
        color: #7B7B7B;
        p{
          margin-bottom: inherit;
        }
      }
      .img{

      }
    }
    .but{
      .whitLine{
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0px 0px 4px rgb(0 0 0 / 20%);
        transform: matrix(0.64, -1.22, 0.46, 0.68, 0, 0);
        width: 87.14px;
        height: 31.75px;
        position: absolute;
      }
      button{
      border: 6px solid #FC8B26; ;
        color: #121212;
        font-weight: 500;
        font-size: 14px;
        line-height: 113%;
        background: #FCC026;
        box-shadow: -1px 4px 21px rgba(0, 0, 0, 0.2);
        border-radius: 35px;
        padding:10px 15px 11px 15px;
      }
    }
  }
  .blockTho{
    background: #FFFFFF;
    box-shadow: -1px 4px 21px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    .block {
      padding: 20px;

      img {
        width: 80px;
      }

      .text {
        padding-right: 10px;
        h5 {
          padding-top: 5px;
        }

        p {
          font-size: 14px;
          line-height: 125%;
          color: #7B7B7B;
        }
      }
    }
  }
  .question{
    .title{
      font-weight: bold;
      font-size: 32px;
      line-height: 125%;
      text-align: center;
      color: #121212;
    }
    .block {
      .imgBlock {
        display: flex;
        justify-content: space-evenly;
        img {
          height: 144px;
        }
      }
      .titleTho {
        font-weight: 600;
        font-size: 16px;
        line-height: 113.7%;
        color: #4B4A4A;
      }

      .textBody {
        font-size: 13px;
        line-height: 125%;
        color: #7B7B7B;
      }
    }
  }
  .services{
    background: #FFFFFF;
    border-radius: 11px;
    .title{
      font-weight: bold;
      font-size: 32px;
      line-height: 125%;
      text-align: center;
      color: #121212;
      margin-bottom: 30px;
    }
    .block{
      margin-bottom: 20px;
      .title{
        font-weight: bold;
        font-size: 16px;
        line-height: 130%;
        text-align: center;
        color: #4B4A4A;
      }
      .textBody{
        font-size: 13px;
        line-height: 130%;
        text-align: center;
        color: #7B7B7B;
      }
      .BlackLine{
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        color: #FFFFFF;
        background: linear-gradient(177.42deg, #000000 0%, #3E3E3E 100%);
        p{
          margin-bottom: inherit;
            .namber{
              font-weight: bold;
              font-size: 25px;
              line-height: 125%;
              color: rgba(252, 139, 38, 1);
              text-align: center;
          }
        }
      }
      .count {
        padding-left: 10px;
        margin-top: 20px;
        padding-right: 10px;
        .application {
          background: linear-gradient(180deg, #FCC026 0%, #FC8B26 100%);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
          border-radius: 5px;
          border: inherit;
          padding-top: 5px;
          padding-bottom: 5px;
          width: 100%;
        }
        .detailed{
          width: 100%;
          background: inherit;
          border: inherit;
          margin-top: 15px;
          margin-bottom: 15px;
          font-weight: 500;
          font-size: 14px;
          line-height: 113%;
          color: #9F9F9F;
        }
      }
      background: #FFFFFF;
      box-shadow: -1px 4px 21px rgba(0, 0, 0, 0.1);
      border-radius: 11px;
    }
  }
  .problem{
    .title {
      font-weight: bold;
      font-size: 32px;
      line-height: 125%;
      text-align: center;
      color: #121212
    }
    .block{
      margin-bottom: 20px;
      background: #FFFFFF;
      box-shadow: -1px 4px 21px rgba(0, 0, 0, 0.1);
      border-radius: 11px;
      padding-top: 16px;
      padding-left: 13px;
      padding-bottom: 20px;
        img{
          width: 100%;
        }
        .title{
          font-weight: bold;
          font-size: 20px;
          line-height: 129.7%;
          text-align: left;
          color: #4B4A4A;
        }
      .body{
        font-size: 14px;
        line-height: 125%;
        color: #7B7B7B;
      }

    }
  }
  .blackBlock{
    background: black;
    .car{
      width: 100%;
    }
    .carImg{
      display: flex;
      justify-content: space-around;
      img{
        width: auto;
      }
    }
    .title{
      font-weight: bold;
      font-size: 32px;
      line-height: 125%;
      text-align: center;
      color: #FFFFFF;
    }
    .titleCar{
      font-weight: bold;
      font-size: 20px;
      line-height: 129.7%;
      color: #FFFFFF;
    }
    .bodyCar{
      font-size: 14px;
      line-height: 125%;
      color: #FFFFFF;
    }
    .Feedback{
      .text{
        p{
          text-align: left;
          font-size: 14px;
          line-height: 125%;
          color: #FFFFFF;
        }
      }
      background: rgba(119, 119, 119, 0.01);
      border: 1px solid rgba(255, 255, 255, 0.15);
      box-sizing: border-box;
      backdrop-filter: blur(150px);
      border-radius: 11px;
      .title{
        margin-top: 30px;
        font-weight: bold;
        font-size: 26px;
        line-height: 125%;
        text-align: center;
        color: #FFFFFF;
      }
      .inp {
        p{
          font-size: 14px;
          line-height: 140%;
          /* identical to box height, or 20px */
          margin-bottom: inherit;
          color: #FFFFFF;
          margin-top: 20px;
          span{
            text-decoration-line: underline;
          }
        }
        input {
          width: 100%;
          height: 60px;
          left: 35px;
          top: 401px;
          padding-left: 15px;
          color: #121212 !important;
          background: #FFFFFF;
          border-radius: 5px;
        }
      }
      .text{
        margin-top: 10px;
        font{
        font-size: 16px;
        line-height: 125%;
      }
      }
      .bat {
        width: 100%;
        margin-top: 20px;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        color: #000000;
        background: linear-gradient(180deg, #FCC026 0%, #FC8B26 100%);
        border-radius: 5px;
        padding:17px 27px 18px 27px;
        border: inherit;
      }
    }
    .work{
      .workImg{
        width: 100%;
        height: auto;
      }
      .Name{
        font-weight: bold;
        font-size: 20px;
        line-height: 129.7%;
        color: #FFFFFF;
      }
      .year{
        font-size: 17px;
        line-height: 125%;
        color: #FFFFFF;
      }
      .sellerPrice{
        color: #7B7B7B;
        font-weight: 500;
        font-size: 16px;
      }
      .afterTheAuction{
        color: #7B7B7B;
        font-weight: 500;
        font-size: 16px;
      }
      .task{
        color: #FFFFFF;
        font-size: 17px;
      }
      .result{
        color: #FFFFFF;
        font-size: 17px;
      }
    }
    .workSlayder{
      position: relative;
      img{
        width: 100%;
      }
      .but{
        position: absolute;
        bottom: -10px;
        background: rgba(119, 119, 119, 0.01);
        width: 100%;
        .blackLine{
        .lineFlex{
          display: flex;
          .name{
            padding-top: 7px;
            margin-bottom: inherit;
          }
          .nameBody{
            color: #7B7B7B;
          }
        }
          background: rgba(119, 119, 119, 0.01);
          //opacity: 0.7;
          box-sizing: border-box;
          color: white;
          backdrop-filter: blur(150px);
          border-radius: 0px 0px 11px 11px;
          .yellow{
            padding-left: 20px;
            padding-right: 20px;
            background: linear-gradient(180deg, #FCC026 0%, #FC8B26 100%);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 11px 0px;
            border: inherit;
            color: white;
            height: 100%;
          }
        }
      }

    }
    .feedback{
      .title{
        font-weight: bold;
        font-size: 32px;
        line-height: 125%;
        text-align: center;
        color: #FFFFFF;
      }
      .body{
        margin-bottom: auto;
        padding-top: 15px;
        padding-bottom: 30px;
        font-size: 20px;
        line-height: 129.7%;
        /* or 26px */

        color: #FFFFFF;
      }
    }
  }
  .stages{
    .title{
      font-weight: bold;
      font-size: 32px;
      line-height: 125%;
      text-align: center;
      color: #121212;
    }
    .block{
      .blockText{
        background: #F7F7F7;
        .title{
          font-weight: bold;
          font-size: 20px;
          line-height: 125%;
          text-align: left;
          color: #121212;
        }
        .body{
          color: #7B7B7B;
          .namber{
            margin-bottom: 25px;
            color: #121212;
          }
        }
      }
    }
  }

  .warrantyFree{
    position: relative;
    .envelope {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 20;
    }
    .marg {
      padding-left: 15px;
      padding-right: 15px;

      .envelopePos {
        background: rgba(119, 119, 119, 0.01);
        opacity: 0.7;
        border: 1px solid rgba(255, 255, 255, 0.15);
        box-sizing: border-box;
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 11px;
        padding-left: initial;
        padding-right: initial;
        min-height: 570px;

        .blockBody {
          padding-left: 25px;
          padding-right: 25px;

          .gold {
            color: rgba(252, 139, 38, 1);
            font-weight: 800;
            font-size: 24px;
            line-height: 125%;
          }

          .white {
            font-weight: 800;
            font-size: 24px;
            line-height: 125%;
            color: #FFFFFF;
          }

          .ellipse {
            font-size: 16px;
            font-weight: 200;
            line-height: 140%;
            color: #FFFFFF;
            margin-bottom: 20px;
          }

          .body {
            font-size: 14px;
            line-height: 140%;
            /* or 20px */
            font-weight: 200;
            color: #FFFFFF;
          }
        }

        .title {
          font-weight: 600;
          font-size: 18px;
          line-height: 125%;
          text-align: left;
          color: #FFFFFF;
        }

        .free {
          padding-top: 5px;
          min-height: 46px;
          background: #FFFFFF;
          border-radius: 11px 0px;
          font-weight: 500;
          font-size: 22px;
          text-align: center;
        }
      }
    }
  }
}
