.questionInner{
  background-image: url("../../../assets/images/squaresBg.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 60px 0;
  height: 100%;
}
