.problems{
  padding: 144px 0 0;
  background: url("../../../assets/images/problemsBg.jpg")calc(50% - 45px) bottom/contain no-repeat;
}
.wrapper{
  overflow: hidden;
  margin: 0 auto;
  max-width: 1410px;
  padding: 0 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
  padding-bottom: 170px;
  
}
.svgTop{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.pink{
  position: absolute;
  left: 0;
}
.blue{
  position: absolute;
  right: 0%;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 52px;
  flex: 1 0 auto;
}


.title{
  flex: 1 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-align: center;
  color:var(--gray-title);
  margin-bottom: 90px;
}


.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}



.first{
  max-width: 1048px;
}
.second{
  max-width: 1116px;
}
.third{
  max-width: 816px;
}


.men{
  width: 100%;
  z-index: -1;
  margin: auto;
  position: absolute;
  top: 0; left: -95px; bottom: 0; right: 0;

}
@media screen and (max-width: 1275px){
  .men{
    display: none;
  }
  .problems{
    background: url("../../../assets/images/problemsBg.jpg")calc(50% - 45px) bottom/cover no-repeat;
  }
}

@media screen and (max-width: 768px){
  .problems{
    background: url("../../../assets/images/problemsBg.jpg")calc(50% - 10px) 150px/contain no-repeat;
    background-size: 500px;
  }
  .row{
    flex-direction: column;
    gap:20px;
  }
  .title{
    margin-bottom: 300px;
  }
  .men{
    position: static;
    margin: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%) translateY(25%);
  }
  .content{
   gap: 20px;
    align-items: center;
  }
}

@media screen and (max-width: 614px){
  .problems{
    padding: 100px 0 0;
    background: url("../../../assets/images/problemsBg.jpg")calc(50% - 10px) 170px/contain no-repeat;
  }
  .title{
    margin-bottom: 320px;
  }
}

@media screen and (max-width: 450px){
  .problems{
    background: url("../../../assets/images/problemsBg.jpg")calc(50% - 10px) 170px/contain no-repeat;
  }
  .title{
    margin-bottom: 298px;
    font-size: 32px;
    line-height: 125%;
  }
}
@media screen and (max-width: 390px){
  .problems{
    background: url("../../../assets/images/problemsBg.jpg")calc(50% - 10px) 200px/contain no-repeat;
  }
  .title{
    margin-bottom: 298px;
  }
}