.wrapper{
  max-width: 1410px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 3;
  overflow-x: hidden;
}


.box{
  z-index: 3;
  position: relative;
  background: #FFFFFF;
  box-shadow: -1px 4px 21px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  max-width: 820px;
  width: 100%;
  margin: 0 auto;
  .title{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    color: var(--gray-primary);

  }

}

.list{
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: square url("../../assets/images/servicePage/item-style.svg") inside;
  margin:23px 0 37px;
}

.item{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--gray-primary);
}


.headerBlock{
  max-width: 885px;
  padding: 0 15px;
  margin: 0 auto 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: var(--gray-title);
  margin-bottom: 10px;
}

.subtitle{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  color: var(--gray-primary);
  margin-bottom: 25px;
}

.text{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  color: var(--gray-secondary);
}

.btnWrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btn{
  padding: 18px 80px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;

  color: #000000;
}

.img{
  position: absolute;
  right: 0;
  top: -150px;
}

.imgBackground{
  position: absolute;
  left: 0;
  right: 0;
  top: 200px;
  z-index: 0;
}



@media screen and (max-width: 768px){
  .img{
    top: -180px;
  }
  .box{
    padding: 20px;
  }
  .btn{
    width: 100%;
    padding: 0;
    min-height: 60px;
  }
  .imgBackground{
    margin: auto;
  }
}