.catalog{
    padding: 50px 0 175px;
    position: relative;
}
.promoWrapper{
    max-width: 640px;
    margin-left: auto;
}
.title{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: #121212;
    margin-bottom: 37px;
}
.promoText{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 129.7%;
    color: #7B7B7B;
    margin-bottom: 10px;
}
.promoText:nth-child(3){
    margin-bottom: 50px;
}
.bold{
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(109.36deg, #000000 0%, #282828 100%);
    font-size: 20px;
    line-height: 129.7%;
}
.btn{
    text-transform: uppercase;
    padding: 0 35px;
    height: 45px;
    color: #121212;
    font-weight: 500;
    font-size: 15px;
    line-height: 113%;
}
.outside{
    /*position: relative;*/
}
.promoImg{
    position: absolute;
    display: block;
    bottom: -155px;
    left: 0;
    height: 666px;
    z-index: -1;
}

/* ADAPTIVE */

@media screen and (max-width: 1200px){
    .promoImg{
        height: 550px;
        bottom: -60px;
        left: -60px;
    }
    .promoWrapper{
        max-width: 495px;
    }
}

@media screen and (max-width: 980px){
    .catalog{
        padding: 50px 0 125px;
    }
    .promoImg{
        height: 450px;
        bottom: -60px;
        left: -60px;
    }

}

@media screen and (max-width: 870px){
    .catalog{
        padding: 25px 0 100px;
    }
    .promoImg{
        height: 400px;
        left: -80px;
    }
    .promoWrapper{
        max-width: 395px;
    }
}

@media screen and (max-width: 675px){
    .promoImg{
        left: -100px;
    }
    .promoWrapper{
        max-width: 325px;
    }
}

@media screen and (max-width: 600px){
    .catalog{
        padding: 15px 0 390px;
    }
    .promoImg{
        left: 50%;
        transform: translateX(-50%);
    }
    .promoWrapper{
        max-width: none;
    }
    .title{
        font-size: 32px;
        margin-bottom: 30px;
        text-align: center;
    }
}

@media screen and (max-width: 475px) {
    .catalog{
        padding: 15px 0 340px;
    }
    .promoImg{
        height: 332px;
    }
}
