.wrapper{
  width: 100%;
  max-width: 1410px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}


.contentWrapper{
  max-width: 1110px;
  margin: 0 auto 100px;
  width: 100%;
  padding: 0 15px;

}
.content{
  background: #FFFFFF;
  box-shadow: -1px 4px 21px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  padding: 31px 43px;
  display: flex;
  flex-direction: column;
  gap:25px
}

.heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  color: var(--gray-primary);
}

.date{
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 125%;
  color: var(--gray-primary);
}

.text{
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 125%;
  color: var(--gray-secondary);
}

.textContent{

}


.img{
  margin: 0  0 45px 36px;
  float: right;
}

.line{
  max-width: 80%;
  width: 100%;
  height: 2px;
  background: #EAEAEA;
  margin: 100px auto 0 ;
}

.car{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -154px;
  margin-right: -44px;
}

.tree{
  position: absolute;
  bottom: 0;
  left: 0;
}