.cube{
  position: relative;
  width: 110px;
  height: 110px;
  background:
          linear-gradient(var(--white) 0 0) padding-box, /*this is your grey background*/
          linear-gradient( var(--orange-to), var(--orange-from)) border-box;
  color: #313149;
  padding: 10px;
  border: 10px solid transparent;
  border-radius: 15px;
  display: inline-block;
  transform: rotate(135deg);
}

.img{
  position: absolute;
  top: 50%;
  transform: translate(-20%, -50%) rotate(-135deg);
}