.wave {
  padding-top: 100px;
  background: url("../../../assets/images/waveBgBlack.svg") center top/contain no-repeat;
}

@media screen and (min-width: 1309px) {
  .wave {
    background-size: cover;
  }
}

