.headerMobile {
  display: none;
}

.headerDesktop {
  display: block;
}

.headerContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.gray {
  background: var(--header-bcg);
}

.topBar {
  margin: 0 auto;
  max-width: 1410px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 8px 15px;
}


.menu {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 14px 0;
}

.container {
}



@media screen and (max-width: 1040px) {

  .headerDesktop {
    display: none;
  }

  .headerMobile {
    display: block;
    padding-top: 15px;

    .container {
      width: 100%;
      padding: 0 15px;
      display: flex;
      flex-direction: column;
      .head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .logo {
          display: flex;
          flex-direction: row;
          gap: 18px;
          align-items: center;
          .img {
            width: 54px;
            height: 48px;
          }

          .textContainer {
            .text {
              font-style: normal;
              font-weight: 400;
              font-size: 13px;
              line-height: 130%;
              color: var(--gray-title);
              margin-bottom: 0;
            }

            .link {
              font-style: normal;
              font-weight: 500;
              font-size: 15px;
              line-height: 113.7%;
              text-decoration-line: underline;
              color: var(--orange);
            }
          }
        }
      }
    }

  }
}
