.headerMobile {
  display: none;
}


.headerDesktop {
  display: block;
}

.headerContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 999;
  top:0;
}

.gray {
  background: var(--header-bcg);
}

.topBar {
  margin: 0 auto;
  max-width: 1410px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 4px 15px;
}


.menu {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 14px 0;
}

.container {
  position: relative;
}

.row{
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  img{
    // margin-right: 10px;
  }
}

.headerOutside{
  display: none;
}

@media screen and (max-width: 1070px) {
  .headerOutside{
    display: block;
  }
  .headerDesktop {
    display: none;
  }

  .headerMobile {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    background: var(--header-bcg);
    z-index: 110;
    display: block;
    padding: 15px 0 5px;
    .container {
      width: 100%;
      padding: 0 15px;
      display: flex;
      flex-direction: column;
      .head {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        column-gap: 18px;
        .img {
          width: 54px;
          height: 48px;
        }

        .textContainer {
          .text {
            display: block;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 130%;
            color: var(--gray-title);
            margin-bottom: 0;
          }

          .link {
            cursor: pointer;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 113.7%;
            text-decoration-line: underline;
            color: var(--orange);
          }
        }
      }
    }

  }
  .headerWrapper{
    overflow-y: scroll;
    padding-bottom: 10px;
    min-width: 100%;
    position: fixed;
    background: white;
    top: 62px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -900;
  }

  .menuTransition{
    width: calc(100% - 30px);
    margin: 0 auto;

  }
  .animate{
    opacity: 1;
    z-index: 100;
  }
  .addressWait{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin: 27px 0 30px;
  }
  .nav{
    margin-bottom: 20px;
  }
  .btn{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    margin-left: auto;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
  }
}

@media screen and (max-width: 550px) {
  .headerMobile {
    .container {
      .head {
        justify-content: space-between;
        .btn {
          margin-left: unset;
        }
        .textContainer {
          .link {
            display: none;
          }
        }
      }
    }
  }
}
