

.link{
  font-weight: 600;
  font-size: 14px;
  line-height: 113.7%;
  text-transform: uppercase;
  color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:9px;
  &:hover{
    color:var(--white);
  }
}
