.footer{
  margin: 0 auto;
  max-width: 1410px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 8px 15px;
}
.black{
  background: var(--footer-bcg);
}
@media screen and (max-width: 500px)  {
  .footer{
    flex-direction: column;
  }
}