.main{

}

.img{
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  //height: 100%;
  min-height: 100vh;
  object-fit: cover;
}


.btn{
  z-index: 10;
  padding: 15px 80px;
  outline:none;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  cursor: pointer;
  white-space: nowrap;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 113.7%;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #121212;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  border:none;
}