body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  margin: 0 auto;
  width: 100%;
}

:root{
  --white:#FFFFFF;
  --orange:#FC8B26;
  --gray-secondary:#7B7B7B;
  --gray-primary:#4B4A4A;
  --gray-title:#121212;
  --green:#BED047;
  --header-bcg:#F7F7F7;
  --footer-bcg:#0E0E0E;


  --orange-from:#FC8B26 ;
  --orange-to: #FCC026;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: var(--gray-primary);
  }
}


.scroll-off {
  position: fixed;
  left: 30px;
  top: 30px;
}

.scroll-on {
  position: fixed;
  left: 30px;
  top: 60px;
  pointer-events: none;
}
svg{
  max-width: 45px;
  max-height: 45px;
}
.slick-slide{
  position: relative;
  max-height: 550px;
  transform: scaleY(90%) scaleX(90%);
}
.slick-center .globalPhone::after{
  position: absolute;
  bottom:50px;
  left:50%;
  content:'';
  transform: translateX(-50%);
  width: 100%;
    max-width: 230.38px;
height: 48.67px;
  background:url('./rev.svg') center;
}
.slick-center{
  max-height: 110%;
  height: 110%;
  transform: scaleY(100%);
}
.slick-prev{
  position: absolute;
  left: 5% !important;
  z-index: 5;
  width: 45px;
height: 45px;
}
.slick-next{
    position: absolute;
  right: 5% !important;
  z-index: 5;
  width: 45px;
height: 45px;
}
@media (max-width:700px) {
  .slick-slide{
  position: relative;
  // max-height: 500px ;
  // transform: scaleY(90%) scaleX(90%);
}
.slick-prev{
  position: absolute;
  left: 25% !important;
  z-index: 5;
  width: 45px;
height: 45px;
bottom:0;
}
.slick-next{
    position: absolute;
  right: 25% !important;
  z-index: 5;
  width: 45px;
height: 45px;
bottom:0;
}
.slick-arrow{
  top:initial;
}  .slick-slider{
    padding-bottom: 80px !important;
  }

}

.container{
  max-width: 1410px;
  padding: 0 15px;
  margin: 0 auto;
}