.cardCol{
  background: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
  box-shadow: -1px 4px 21px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  position: relative;

  width: 100%;
  max-width: 447px;
}
.container{

}
.cardRow{
  // background: #FFFFFF;
  // border: 1px solid rgba(255, 255, 255, 0.15);
  // box-sizing: border-box;
  // box-shadow: -1px 4px 21px rgba(0, 0, 0, 0.1);
  // border-radius: 11px;
  // width: 100%;
  // display: flex;
  // flex-direction: row;
  // padding: 24px;
  // position: relative;

  // max-width: 676px;

  // gap:20px;
    background: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
  box-shadow: -1px 4px 21px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  position: relative;

  width: 100%;
  max-width: 447px;
}
.content{
  display: flex;
  flex-direction: column;
  max-width: 310px;
}
.img{
  width: 100%;
  margin-bottom: 24px;
  object-fit: cover;
}

.title{
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 125%;
  color: var(--gray-primary);
  margin-bottom: 5px;
  //white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis;
}
.text{
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 125%;
  color: var(--gray-secondary);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.date{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: var(--gray-title);

}

.btn{
  background: linear-gradient(180deg, #FCC026 0%, #FC8B26 100%);
  box-shadow: -1px 4px 21px rgba(0, 0, 0, 0.1);
  border-radius: 11px 11px 11px 0px;
  position: absolute;
  right: -1px;
  bottom: -1px;
  padding: 10px 40px;
}

@media screen and (max-width: 960px){
  .cardRow{
    flex-direction: column;
  }
  .cardRow, .cardCol{
    max-width: 100%;
  }

}